<h1>All Created Events</h1>
<p>All events created by <%= @user.username %> are shown below.</p>

<% @user.created_events.each do |event| %>
  <div>
    <h2>Event: <%= event.name %></h2>
    <p>Date: <%= event.date %></p>
    <p>Location: <%= event.location %></p>
  </div>
<% end %>

<h1>All Attend Events</h1>
<ol>
<% @user.attended_events.each do |attended_event| %>
  <div>
    <h2>Event: <%= attended_event.name %></h2>
    <p>Date: <%= attended_event.date %></p>
    <p>Location: <%= attended_event.location %></p>
  </div>
<% end %>
</ol>