<h1> All Events</h1>

<% @events.each do |event| %>
  <div>
    <h2>Event: <%= event.name %></h2>
    <p>Date: <%= event.date %></p>
    <p>Location: <%= event.location %></p>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Create Event", new_event_path %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Log In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>