<h1>Event Details</h1>

<% flash.each do |name, msg|%>
  <%= content_tag :div, msg, class: name %>
<% end%>

<p>Name: <%= @event.name %></p>
<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date %></p>

<% if user_signed_in? %>
  <% unless @event.attendees.include?(current_user) %>
    <%= form_with url: event_attendance_path(@event), method: :post do |form| %>
      <%= form.submit "Attend Event" %>
    <% end %>
  <%else%>
    <p>You have already registered for this event.</p>
  <% end %>
<% end %>